@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); /* Custom Google Font */

/* Center the content vertically and horizontally */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  font-family: 'Courier Prime', monospace;
  color: #03a9f4;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url('/images/arrowhead-rounded-outline.png'), auto; 
}

/* Typewriter container */
.typewriter {
  font-size: 1.2em;
  display: inline-block;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  white-space: normal;
  word-wrap: break-word;
  position: relative;
}

/* Cursor effect */
.cursor {
  display: inline-block; /* Ensures the cursor behaves like text */
  width: 2px;
  height: 1em; /* Matches the height of the text */
  background-color: #03a9f4; /* Cursor color */
  animation: blink-caret 1s step-end infinite; /* Blinking effect */
  vertical-align: bottom; /* Align cursor with the text baseline */
}

/* Blinking cursor effect */
@keyframes blink-caret {
  from, to { opacity: 1; }
  50% { opacity: 0; } /* Makes the cursor blink */
}

/* Fade in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Image container */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.image-container img {
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
  /* Fade at the edges, full opacity in the middle */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  mask-size: 100% 100%;
}


.Takaisin {
  position: absolute;
  top: 20px;
  left: 20px;
}

.Takaisin a {
  color: #03a9f4;
  font-size: 1.2em;
  text-decoration: none;
}

/* Styles for PROJEKTIT button */
.Projektit {
  margin-top: 30px;
  text-align: center;
}

.Projektit a {
  color: #03a9f4;
  font-size: 1.5em;
  text-decoration: none;
  border: 2px solid #03a9f4;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.Projektit a:hover {
  background-color: #03a9f4;
  color: #000;
}
