<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noelin Portfolio</title>
    <link rel="stylesheet" href="/portfolio/css/info.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
  <div class="typewriter">Moro! Tervettuloa minun ensimmäiselle Portfolio sivustolle!
    Minun nimeni on Noel Kivelä ja Olen 18v Opiskelija Tredun ohjelmistokehittäjistä.
    Olen tällä hetkellä opiskelemassa toista lukuvuotta. Olen innokas ohjelmistokehittäjä Hervannasta ja olen erittäin
    kiinnostunut alasta.
  </div>

  <div class="image-container">
    <img src="images/18-3.jpg" alt="Image 1">
    <img src="images/18-1.jpg" alt="Image 2">
  </div>

  <div class="Projektit">
    <a href="project.html">------- PROJEKTIT -------</a>
  </div>

  <div class="Takaisin">
    <a href="../index.html">Takaisin</a>
  </div>

  <script src="js/info.js"></script>
</body>

<footer class="footer">
  <div class="footer-content">
    <p>Ota yhteyttä: <a href="mailto:noel.kivela@example.com">noel.kivela@gmail.com</a></p>
    <p>Seuraa minua: 
      <a href="https://www.linkedin.com/in/noel-kivel%C3%A4-a6206518b/" target="_blank">LinkedIn</a> | 
      <a href="https://github.com/Noel-59" target="_blank">GitHub</a>
    </p>
  </div>
</footer>

</html>
