<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noelin Projektit</title>
    <link rel="stylesheet" href="/css/project.css">
</head>
<body>
  <!-- Header -->
  <h1>Projektit</h1>

  <!-- Projects section -->
  <div class="projects-container">
    <!-- Single Page Website Project -->
    <div class="project">
      <h2>Single Page Website</h2>
      <p>Kuvaus: Yksinkertainen yhden sivun verkkosivusto.</p>
      <a href="/projektit/single page website/page.html">Näytä projekti</a>
    </div>

    <!-- BMI Laskuri Project -->
    <div class="project">
      <h2>BMI Laskuri</h2>
      <p>Kuvaus: Sovellus, joka laskee kehon massaindeksin (BMI).</p>
      <a href="/projektit/teht1 bmi laskuri/teht1.html">Näytä projekti</a>
    </div>

    <!-- Numeron Arvonta Project -->
    <div class="project">
      <h2>Numeron Arvonta</h2>
      <p>Kuvaus: Sovellus, joka arpoo numeron käyttäjän antamalta alueelta.</p>
      <a href="/projektit/teht2 numeron arv/teht2.html">Näytä projekti</a>
    </div>

    <!-- Laskin Project -->
    <div class="project">
      <h2>Laskin</h2>
      <p>Kuvaus: Yksinkertainen laskin sovellus.</p>
      <a href="/projektit/teht3 laskin/teht3.html">Näytä projekti</a>
    </div>
  </div>

  <!-- Back link -->
  <div class="Takaisin">
    <a href="info.html">Takaisin</a>
  </div>
</body>
</html>
