<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noelin Projektit</title>
    <link rel="stylesheet" href="/portfolio/css/project.css">
    <link rel="icon" type="image/x-icon" href="/portfolio/images/favicon.ico">
</head>
<body>
  <h1>Projektit</h1>

  <div class="projects-container">
    
    <div class="project">
      <h2>BMI Laskuri</h2>
      <img src="/portfolio/images/bmi.png" alt="BMI Laskuri Image" class="project-img">
      <p>Kuvaus: Sovellus, joka laskee kehon massaindeksin (BMI).</p>
      <a href="/portfolio/projektit/teht1 bmi laskuri/teht1.html">Näytä projekti</a>
    </div>

    <div class="project">
      <h2>Laskin</h2>
      <img src="/portfolio/images/laskin.png" alt="Laskin Project Image" class="project-img">
      <p>Kuvaus: Yksinkertainen laskin sovellus.</p>
      <a href="/portfolio/projektit/teht3 laskin/teht3.html">Näytä projekti</a>
    </div>

    <div class="project">
      <h2>Taksilaskuri</h2>
      <img src="/portfolio/images/taksi.png" alt="Taksilaskuri Project Image" class="project-img">
      <p>Kuvaus: Sovellus, joka laskee taksimatkan kustannukset.</p>
      <a href="/portfolio/projektit/demo3 taksilaskuri/demo3.html">Näytä projekti</a>
    </div>

    <div class="project">
      <h2>Vuokra Sivusto</h2>
      <img src="/portfolio/images/vuokra.png" alt="Vuokra Sivusto Image" class="project-img">
      <img src="/portfolio/images/vuokra2.png" alt="Vuokra Sivusto Image2" class="project-img">
      <p>Kuvaus: Verkkosivusto vuokrauspalveluille. ZIP-tiedosto ladattavaksi.</p>
      <a href="/portfolio/projektit/sivusto.zip" download>Lataa Projekti</a>
    </div>

    <div class="project">
      <h2>Lotto Peli</h2>
      <img src="/portfolio/images/lotto.png" alt="Lotto Peli Image" class="project-img">
      <p>Kuvaus: Lotto peli, jossa arvotaan numeroita.</p>
      <a href="/portfolio/projektit/extrapeli lotto/lotto.html">Näytä projekti</a>
    </div>

    <div class="project">
      <h2>Reseptipankki Sivusto</h2>
      <img src="/portfolio/images/pankki.png" alt="Reseptipankki Image" class="project-img">
      <p>Kuvaus: Reseptipankki PHP ja SQL:llä. ZIP-tiedosto ladattavaksi.</p>
      <a href="/portfolio/projektit/harj8.zip" download>Lataa projekti</a>
    </div>

    <div class="project">
      <h2>Arvostelusivusto</h2>
      <img src="/portfolio/images/revi.png" alt="Arvostelusivusto Image" class="project-img">
      <p>Kuvaus: Perus arvostelusivusto, jossa on kirjautumisjärjestelmä. ZIP-tiedosto ladattavaksi.</p>
      <a href="/portfolio/projektit/harj6.zip" download>Lataa projekti</a>
    </div>

    <div class="project">
      <h2>Fanikauppa (React)</h2>
      <img src="/portfolio/images/fan.png" alt="Fanikauppa Image" class="project-img">
      <p>Kuvaus: Reactilla tehty Fanikauppa</p>
      <a href="https://noel-59.github.io/portfolio/projektit/fanikauppa/">Katso projektia</a> 
    </div>
  </div>

  <div class="Takaisin">
    <a href="info.html">Takaisin</a>
  </div>

  <script src="portfolio/js/project.js"></script>
</body>

<footer class="footer">
  <div class="footer-content">
    <p>Ota yhteyttä: <a href="mailto:noel.kivela@example.com">noel.kivela@gmail.com</a></p>
    <p>Seuraa minua: 
      <a href="https://www.linkedin.com/in/noel-kivel%C3%A4-a6206518b/" target="_blank">LinkedIn</a> | 
      <a href="https://github.com/Noel-59" target="_blank">GitHub</a>
    </p>
  </div>
</footer>

</html>
